*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(130deg, rgb(0, 140, 255),lightblue, rgb(0, 140, 255));
}

.todolist{
    height: 560px;
    width: 450px;
    text-align: center;
    background: rgba(0, 0, 0, 0.60);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.9px);
    -webkit-backdrop-filter: blur(14.9px);
    border: 1px solid rgba(144, 250, 251, 0.57);
    padding: 18px;
    border-radius: 10px;
}

@media(max-width:720px) {
    .todolist{
        height: 90%;
        width: 90%;
    }
}

.container{
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
    max-height: 75%;
    overflow: scroll;
    padding: 10px;
}

.container::-webkit-scrollbar{
    display: none;
}

.row{
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    gap: 10px;
}


input{
    height: 50px;
    width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: larger;
    margin-bottom: 20px;
    outline: none;
    border: none;
}

.add{
    position: absolute;
    right: 0;
    height: 50px;
    width: 23%;
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    background-color:  rgb(255, 229, 113);
}

.h{
    color: white;
     margin-bottom: 18px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.h::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 4px;
    background-color:  rgb(255, 229, 113);
    transform: scaleX(0);
    transition: 0.5s;
}

.h:hover::after{
    transform: scaleX(1);
}


li{
    height: 50px;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 10px;
    gap: 10px;
    overflow-x: scroll;
    white-space: nowrap;
    font-family: cursive;
    border: none;
    outline: none;
}

li::-webkit-scrollbar{
    display: none;
}

.deletebtn{
    height: 45px;
    max-width: 300px;
    border-radius: 50%;
    padding: 10px;
    font-size: large;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid  #eb1000;
    transition: 0.3s cubic-bezier(1,0,0,1);
   
}

.deletebtn:hover{
    height: 45px;
    max-width: 300px;
    border-radius: 50%;
    padding: 10px;
    font-size: large;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid  #eb1000;
    box-shadow: 0 0 10px  #eb1000,0 0 20px  #eb1000;
}

.con{
    width: 100%;
    overflow: scroll;
    font-size: 15px;
    height: 100%;
    background-color:  rgb(252, 239, 182);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    cursor: pointer;
    padding-left :10%;
    padding-right :10%;
    
}

.con::-webkit-scrollbar{
    display: none;
}

.done{
    height: 45px;
    max-width: 300px;
    border-radius: 50%;
    padding: 10px;
    font-size: large;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid  #63E6BE;
    transition: 0.3s cubic-bezier(1,0,0,1)
}

.done:hover{
    height: 45px;
    max-width: 300px;
    border-radius: 50%;
    padding: 10px;
    font-size: large;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid  #63E6BE;
    box-shadow: 0 0 10px #63E6BE,0 0 20px #63E6BE;
}

.strike{
    text-decoration: line-through;
}

